
/*forgetpassword Style */

.forgetpassword_page {
	margin: auto;
	min-height: 800px;
	min-width: 800px;
	position: relative;
}
/* E-forgetpassword  form style */

.forgetpassword_form {
	margin: 150px 0px 0px 500px;
	max-height: 600px;
	max-width: 330px;
	background-color: #050111;
	position: absolute;
	padding: 20px 50px 20px 50px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 1px #8a8383c5;
	transition-duration: 0.6s;
	cursor: pointer;
}
/* forgetpassword  form hover style */

.forgetpassword_form:hover {
	margin: 120px 0px 0px 510px;
	text-indent: 2px;
	border-radius: 1px 50px 8px 50px;
	background-color: #05011180;
	box-shadow: 1px 1px 1px #4d4a4a91;
}
/* forgetpassword  form  input style */

.forgetpassword_form input {
	margin-top: 30px;
	width: 240px;
	height: 25px;
	font-size: 18px;
	font-family: sans-serif;
	color: #fff;
	background: transparent;
	outline: none;
	border-bottom: 1px solid #ffffff7e;
	border-style: none none solid none;
}
/* forgetpassword  form  placeholder style */

 ::placeholder {
	color: #fff;
	font-family: Arial;
}
/* forgetpassword  form otp style */

.forgetpassword_sign_otp {
	font-size: 12px;
	color: aliceblue;
	font-style: italic;
	text-decoration: none;
}
/* forgetpassword  form otp hover style */

.forgetpassword_sign_otp:hover {
	color: rgb(221, 206, 67);
}
/* forgetpassword  form sign btn style */

.forgetpassword_sign_btn {
	margin: 30px 0px 0px 0px;
	width: 240px;
	height: 40px;
	font-size: 18px;
	color: rgb(201, 201, 201);
	background-color: #8a8383c5;
	padding: 10px 50px 10px 50px;
	border: none;
	cursor: pointer;
	transition-duration: 1s;
}
/* forgetpassword  form sign btn hover style */

.forgetpassword_sign_btn:hover {
	background-color: #050111;
	color: white;
	border-radius: 1px 50px 8px 50px;
	box-shadow: 2px 2px 10px #c7c7c7c5;
}


