/* Brand name   style  */
#postdartbrand {
    margin: 10px 0px 0px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: #070031;
    text-shadow: 5px 5px 15px #4d4a4a91;
    font-size: 50px;
    position: fixed;
    transition-duration: 0.6s;
    cursor: pointer;
}
/* Brand name  hover style  */

#postdartbrand:hover {
    color: #161414;
    text-indent: 5px;
    text-shadow: 1px 1px 2px #4d4a4a91;
}
