

.passwordchange_page {
    margin: auto;
    min-height: 800px;
    min-width: 800px;
    position: relative;
}
/* Brand name style  */

#postdartbrand {
    margin: 10px 0px 0px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: #070031;
    text-shadow: 5px 5px 15px #4d4a4a91;
    font-size: 50px;
    position: fixed;
    transition-duration: 0.6s;
    cursor: pointer;
}
/* Brand name  hover style  */

#postdartbrand:hover {
    color: #161414;
    text-indent: 5px;
    text-shadow: 1px 1px 2px #4d4a4a91;
}
/* passwordchange  form style */

.passwordchange_form {
    margin: 150px 0px 0px 400px;
    max-height: 600px;
    max-width: 330px;
    background-color: #050111;
    position: absolute;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px #8a8383c5;
    transition-duration: 0.6s;
    cursor: pointer;
}
/*passwordchange form hover style */

.passwordchange_form:hover {
    margin: 120px 0px 0px 450px;
    text-indent: 2px;
    border-radius: 1px 50px 8px 50px;
    background-color: #05011180;
    box-shadow: 1px 1px 1px #4d4a4a91;
}
/*passwordchange form  input style */

.passwordchange_form input {
    margin-top: 30px;
    width: 240px;
    height: 25px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #ffffff7e;
    border-style: none none solid none;
}
/* passwordchange form  placeholder style */

 ::placeholder {
    color: #fff;
    font-family: Arial;
}
/* passwordchange form sign btn style */

.passwordchange_sign_btn {
    margin: 30px 0px 0px 0px;
    width: 240px;
    height: 40px;
    font-size: 18px;
    color: white;
    background: #8a8383c5;
    padding: 10px 50px 10px 50px;
    border: none;
    cursor: pointer;
    transition-duration: 1s;
}
/* passwordchange  form sign btn hover style */

.passwordchange_sign_btn:hover {
    background-color: #050111;
    color: rgb(175, 167, 167);
    border-radius: 1px 50px 8px 50px;
    box-shadow: 2px 2px 10px #c7c7c7c5;
}
