* {
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #cecece;
}


/* forgetpassword  form sign button anchor  hover style */

.entrance_form {
	margin: 0px 0px 0px 300px;
	max-height: 600px;
	max-width: 700px;
	background-color: transparent;
	position: relative;
	display: inline;
}
/* e-Login user button  style */

.entrance_btn1,
.entrance_btn2 {
	margin: 200px 0px 0px 10px;
	width: 300px;
	height: 60px;
	font-size: 30px;
	background: #00000042;
	border: none;
	padding: 15px 20px 20px 30px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 10px #c7c7c7c5;
	position: relative;
	
	cursor: pointer;
	transition-duration: 1s;
}
/* e-Login user button hover style */

.entrance_btn1:hover,
.entrance_btn2:hover {
	margin: 210px 0px 0px 0px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	background: #000000;
	border-radius: 0px 50px 0px 50px;
	box-shadow: 5px 20px 10px 5px #5e5b5bc5;
}
/* e-Login user button  anchor hover style */
/* E-login educator button anchor style */
