.message_memmber_list {
	margin: 5px 0px 0px 5px;
	min-height: 40rem;
	width: 25rem;
	position: absolute;
	border-radius: 0px 20px;
	overflow-x: hidden;
	background-color: rgb(255, 255, 255);
	padding: 10px 0px 0px 0px;
	box-shadow: 3px 3px 5px #8a838353;
	transition-duration: .5s;
	
}

.message_memmber_list:hover {
	width: 26rem;
	border-radius: 20px 0px;

}

.message_friends {
	margin: 5px 0px 0px 10px;
	height: 70px;
	width: 380px;
	border-radius: 0px 20px;
	background-color: rgba(254, 254, 254, 0.901);
	box-shadow: 3px 3px 5px #8a838353;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	transition-duration: .5s;
}

.message_friends:hover {
	background-color: rgba(37, 34, 30, 0.377);
	color: white;
	width: 400px;
	border-radius: 20px 0px;
}

.message_friends img {
	margin: 0px;
	height: auto;
	width: 70px;
	border-radius: 0px 20px;
}

.message_friends:hover img {
	background-color: rgba(37, 34, 30, 0.377);
	color: white;
	border-radius: 20px 0px;
}

.last-message_friends {
	position: absolute;
	margin: -40px 0px 0px 100px;
	height: 20px;
	overflow: hidden;
}

.message_friends-name {
	position: absolute;
	margin: -60px 0px 0px 100px;
	overflow-x: hidden;
}


/*left chat list  */
.chat_memmber_list {
	margin: 5px 0px 0px 27rem;
	min-height: 40rem;
	width: 50rem;
	position: absolute;
	border-radius: 0px 20px;
	background-color: rgb(255, 255, 255);
	padding: 10px 0px 0px 0px;
	box-shadow: 3px 3px 5px #8a838353;
	transition-duration: .5s;
}

.chat_memmber_list:hover {
	width: 51rem;
	border-radius: 20px 0px;

}
.left_chat_friends {
	margin: 100px 0px 0px 10px;
	min-height: 70px;
	width: 40rem;
	border-radius: 0px 20px;
	background-color: rgba(225, 219, 219, 0.795);
	box-shadow: 3px 3px 5px #8a838353;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	transition-duration: .5s;
}

.left_chat_friends:hover {
	background-color: rgba(37, 34, 30, 0.377);
	color: white;
	width: 41rem;
	border-radius: 20px 0px;
}

.left_chat_friends img {
	margin: 0px;
	height: auto;
	width: 70px;
	border-radius: 0px 20px;
}

.left_chat_friends:hover img {
	background-color: rgba(37, 34, 30, 0.377);
	color: white;
	border-radius: 20px 0px;
}

.last-chat_friends {
	position: relative;
	margin: -40px 0px 0px 100px;
	height: auto;
	padding: 10px 0px;
}

.chat_friends-name {
	position: absolute;
	margin: -60px 0px 0px 100px;
	overflow-x: hidden;
}


/*right chat list  */
 .right_chat_friends {
	margin: 0px 0px 0px 9rem;
	height:auto;
	width: 40rem;
	border-radius: 0px 20px;
	background-color: rgba(255, 255, 255, 0.901);
	box-shadow: 3px 3px 5px #8a838353;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	transition-duration: .5s;
}

.right_chat_friends:hover {
	background-color: rgba(179, 178, 177, 0.377);
	color:black;
	width: 41rem;
	border-radius: 20px 0px;
}

.right_chat_friends img {
	margin: 0px 0px 0px 35rem;
	height: auto;
	width: 70px;
	border-radius: 0px 20px;
}

.right_chat_friends:hover img {
	background-color: rgba(37, 34, 30, 0.377);
	color: white;
	border-radius: 20px 0px;
} 

.last_right_chat_friends {
	position: relative;
	margin: -40px 0px 0px 2px;
	height: auto;
	width: 34rem;
	text-align:left;
	padding: 10px 0px;
}

.right_chat_friends-name {
	position: absolute;
	margin: -60px 0px 0px 30rem;
}
