.profile_main {
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}

.profile_nav_bgcolor {
    margin: 0px 0px 0px 0px;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 0;
}

.profile_brand_icon {
    margin: -11px 0px 0px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: #070031;
    text-shadow: 5px 5px 15px #4d4a4a91;
    padding: 15px 10px 0px 0px;
    font-size: 20px;
    position: relative;
    transition-duration: 0.6s;
    cursor: pointer;
    z-index: 1;
}

.profile_brand_icon:hover {
    color: #161414;
    text-indent: 5px;
    text-shadow: 1px 1px 2px #4d4a4a91;
}



.profilecard_profile .profilecard_profile_1 {
    margin: 0 5px 0px 2px;
    height: 400px;
    width: 100%;
    position: absolute;
    transition-duration: .5s;

}

.profilecard_profile .profilecard_profile_1:hover {
    border-radius: 50px 0px 50px 0px;
}

.profilecard_profile .profilecard_profile_2 {
    margin: 5% 0px 0px 40%;
    height: 30%;
    width: 20%;
    padding: 1px;
    border-radius: 50px 0px 50px 0px;
    background-color: aliceblue;
    position: absolute;
    transition-duration: .5s;
}

.profilecard_profile .profilecard_profile_2:hover {
    height: 30%;
    width: 21%;
    border-radius: 0px 50px 0px 50px;
}

.userdetails_card {
    margin: 33% 0px 0px 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #070031;
    text-shadow: 5px 5px 15px #4d4a4a91;
    position: relative;
    transition-duration: 0.6s;
    cursor: pointer;
    z-index: 1;
}

.userdetails_card_name {
    text-shadow: 5px 5px 15px #4d4a4a91;
    padding: 15px 10px 0px 0px;
    font-size: 20px;

    position: relative;

}

.userdetails_card_rank {
    margin: 0px 0px 0px 80%;
    font-size: 10px;



}

.Adresss_skills_card {
    height: 100%;
    width: 30%;
    margin: 0px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #070031;
    background-color: red;
    text-shadow: 5px 5px 15px #4d4a4a91;
    position:absolute;
    transition-duration: 0.6s;
    cursor: pointer;
    z-index: 1;
}

.profile_card {
    height: 100%;
    width: 70%;
    margin: 0px 0px 0px 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #070031;
    background-color: rgb(104, 93, 117);
    text-shadow: 5px 5px 15px #4d4a4a91;
    position:absolute;
    transition-duration: 0.6s;
    cursor: pointer;
}