/*  user style all page */

* {
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #fffafa;
}


/*  login page */
.login_page {
	margin: auto;
	min-height: 800px;
	min-width: 800px;
	position: relative;
}



/* E-login footer style */

.footer_sign {
	margin: 40px 0px 0px 900px;
	position: absolute;
}



/* E-login footer style */

.footer_ca_span {
	font-size: 17px;
	font-family: sans-serif;
	color: #333;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
	transition-duration: 1s;
}

/* E-login footer hover style */

.footer_ca_span:hover {
	background: #333;
	font-weight: 20px;
	color: #f5f5f5;
	padding: 5px 20px;
	border-radius: 1px 50px 8px 50px;
	box-shadow: 5px 20px 10px 5px #5e5b5bc5;
}







/* login form style */
.login_form {
	margin: 100px 0px 0px 400px;
	max-height: 600px;
	max-width: 350px;
	background-color: #050111;
	position: fixed;
	padding: 20px 50px 20px 50px;
	border-radius: 10px;
	box-shadow: 20px 15px 20px 0px #0505054e;
	transition-duration: 0.6s;
	cursor: pointer;
}
/* login form hover style */
.login_form:hover {
	margin: 100px 0px 0px 450px;
	text-indent: 2px;
	border-radius: 1px 50px 8px 50px;
	background-color: #05011180;
	box-shadow: 1px 1px 1px #4d4a4a91;
}



/* Login user button  style */
.login_btn1 {
	margin: 30px 0px 0px 0px;
	width: 120px;
	height: 40px;
	font-size: 20px;
	color: #000000;
	background: #ffffffd3;
	font-weight: bold;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: 1s;
}
/*Login user button hover style */
.login_form:hover .login_btn1{
	font-weight: bold;
	color: #fff;
	font-weight: bold;
	background: #000000;
	border-radius: 0px 50px 0px 50px;
	box-shadow: 2px 2px 10px #c7c7c7c5;
	
}



/* Login user button  style */
.login_btn2 {
	margin: 30px 0px 0px 2px;
	width: 120px;
	height: 40px;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	box-shadow: 1px 1px 10px #1c1818c5;
	background: #ffffffd3;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: 1s;
}

/* e-Login user button hover style */

.login_btn2:hover {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
	background: #000000;
	border-radius: 0px 50px 0px 50px;
	box-shadow: 2px 2px 10px #c7c7c7c5;
}




/*User Login input style */
.login_form input {
	margin-top: 30px;
	width: 240px;
	height: 25px;
	font-size: 18px;
	font-family: sans-serif;
	color: #fff;
	background: transparent;
	outline: none;
	border-bottom: 1px solid #ffffff7e;
	border-style: none none solid none;
}
/*Login  input placeholder style */
.login_form  ::placeholder {
	color: #fff;
	font-family: Arial;
}






/* userlogin_forgetpassword forget password style */
.userlogin_forgetpassword {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
/* userlogin_forgetpassword password hover style */
.userlogin_forgetpassword:hover {
	font-style: italic;
	color: rgb(221, 206, 67);
}





/*login confirm button style */
.userlogin_confirm_btn {
	margin: 30px 0px 0px 0px;
	width: 240px;
	height: 40px;
	font-size: 18px;
	color: #fff8f8;
	background: #8a8383c5;
	border: none;
	cursor: pointer;
	transition-duration: 1s;
}
/*login confirm button hover style */
.userlogin_confirm_btn:hover {
	background: #000000;
	color: #8f8f8f;
	font-weight: bold;
	padding: 10px 50px 10px 50px;
	border-radius: 1px 50px 8px 50px;
	box-shadow: 2px 2px 10px #c7c7c7c5;
}


/*login register style */
.login_form .login_register_link {
	font-family: sans-serif;
	font-size: 17px;
	padding-top: 20px;
	color: #707083f1;
	text-align: center;
}


/*login register anchor  style */
.login_register {
	text-decoration: none;
	color: #eff0ec;
	font: weight 1px;
}
.login_register:hover {
	color: #3c3f33;
}


/*login log in with  style */
.login_liw {
	margin: 10px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
	color: #707083f1;
	text-align: center;
}


/* hover slide style */
.login_form:hover .login_register_link,
.login_form:hover .login_liw {
	color: #050505f1;
}




/* form hover  login icon change */
.login_form:hover .login_icon {
	color: #000000;
}
/* form hover  login icon hover change */
.login_form:hover .login_icon:hover {
	color: #f6ecec;
}




/* login log icon style */
.login_icon {
	margin: 10px 0px 0px 10px;
	font-size: 30px;
	border-radius: 50px;
	transition: 0.3s;
	color: #f5f5f5;
}
/* login log icon hover style */
.login_icon:hover {
	color: #ffffff;
	border-radius: 0px 20px;
	font-size: 40px;
	padding: 10px 5px;
	box-shadow: 1px 1px 10px #fff;
}

