



/*page404_form  */
.page404_form {
	margin: 0px 0px 0px 500px;
	max-height: 600px;
	max-width: 700px;
	background-color: transparent;
	position: relative;
	display: inline;
}





/* page404_form  button  style */
.page404_btn1,
.page404_btn2 {
	margin: 200px 0px 0px 10px;
	width: 500px;
	height: 100px;
	font-size: 50px;
	background: #fefefe42;
	border: none;
	position: relative;
	cursor: pointer;
	font-weight: bolder;
	text-shadow: 10px 5px 10px  #181616c5;
	transition-duration: 1s;
}
/*page404 button hover style */
.page404_btn1:hover,
.page404_btn2:hover {
	margin: 210px 0px 0px 0px;
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	background: #000000;
	border-radius: 0px 50px 0px 50px;
	box-shadow: 5px 20px 10px 5px #5e5b5bc5;
}
