/* Message page style */




/* 1st card */
.message_memmber_list {
	margin: 10px 0px 0px 15px;
	height: 91%;
	width: 30%;
	position: absolute;
	border-radius: 0px 20px;
	overflow-x: hidden;
	background-color: rgb(255, 255, 255);
	padding: 20px 0px 0px 0px;
	box-shadow: 3px 3px 5px #8a838353;
	transition-duration: .5s;
	
}
/* list friends */
.message_memmber_list:hover {
	width: 31%;
	box-shadow: 5px -5px 5px #06020253;
	border-radius: 30px 0px;
	background-color: rgba(224, 224, 224, 0.75);
}

.message_friends {
	margin: 5px 0px 0px 10px;
	height: 70px;
	width: 90%;
	border-radius: 0px 20px;
	background-color: rgba(254, 254, 254, 0.901);
	box-shadow: 3px 3px 5px #8a838353;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	transition-duration: .5s;
	cursor: pointer;
}

.message_friends:hover {
	background-color: rgba(0, 0, 0, 0.904);
	color: white;
	width: 95%;
	border-radius: 20px 0px;
	box-shadow: 5px -5px 5px #0d0c0c9d;
}
.message_friends:active {
	background-color: rgba(5, 3, 24, 0.87);
	color: white;
	width: 95%;
	border-radius: 20px 0px;

}
.message_friends img {
	margin: 0px;
	height: auto;
	width: 70px;
	border-radius: 0px 20px;
}

.message_friends:hover img {
	background-color: rgba(37, 34, 30, 0.377);
	color: white;
	border-radius: 20px 0px;
}

.last-message_friends {
	position: absolute;
	margin: -40px 0px 0px 100px;
	height: 20px;
	overflow: hidden;
}

.message_friends-name {
	position: absolute;
	margin: -60px 0px 0px 100px;
	overflow-x: hidden;
}










/*left chat list  */
.chat_memmber_list {
	margin: 10px 0px 0px 35%;
	height:90%;
	overflow:none ;
	width: 61%;
	position: absolute;
	border-radius: 0px 30px;
	background-color: rgb(255, 255, 255);
	padding: 20px 10px 0px 10px;
	box-shadow: 2px -3px 5px #11020247;
	transition-duration: .5s;
	overflow-x:hidden;
}

.chat_memmber_list:hover {
	background-color: rgb(0, 0, 0);
	margin: 2px 0px 0px 35%;
	width: 61%;
	box-shadow: 5px -5px 5px #06020253;
	border-radius: 20px 0px;
}

.left_chat_friends {
	margin: 0px 0px 0px 10px;
	min-height: 70px;
	width: 40rem;
	border-radius: 0px 20px;
	background-color: rgba(225, 219, 219, 0.795);
	box-shadow: 3px 3px 5px #8a838353;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	transition-duration: .5s;
}

.left_chat_friends:hover {
	background-color: rgba(37, 34, 30, 0.377);
	color: rgb(245, 245, 245);
	width: 41rem;
	border-radius: 20px 0px;
}

.left_chat_friends img {
	margin: 0px;
	height: auto;
	width: 70px;
	border-radius: 0px 20px;
}

.left_chat_friends:hover img {
	background-color: rgba(37, 34, 30, 0.377);
	color: white;
	border-radius: 20px 0px;
}

.last-chat_friends {
	position: relative;
	margin: -40px 0px 0px 100px;
	height: auto;
	padding: 10px 0px;
}

.chat_friends-name {
	position: absolute;
	margin: -60px 0px 0px 100px;
	overflow-x: hidden;
}










/*2nd chat list  */
.right_chat_friends {
	margin: 50px 0px 0px 19%;
	height: auto;
	width: 80%;
	border-radius: 0px 20px;
	background-color: rgba(255, 255, 255, 0.901);
	box-shadow: 3px 3px 5px #8a838353;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	padding: 0px 0px 10px 10px;
	transition-duration: .5s;
	z-index: 1;
}

.right_chat_friends:hover {
	background-color: rgba(2, 2, 2, 0.116);
	color: rgb(245, 239, 239);
	width: 81%;
	border-radius: 20px 0px;
}

/* right chat */
.right_chat_friends img {
	height: auto;
	width: 70px;
 float:right;
	border-radius: 0px 20px;
}

.right_chat_friends:hover img {
	background-color: rgba(37, 34, 30, 0.377);
	color: white;
	border-radius: 20px 0px;
}

.last_right_chat_friends {
	position: relative;
	margin: -50px 0px 0px 5px;
	height: auto;
	width: 80%;
	text-align: left;
	padding: 10px 0px;
}





/*message chat input */
.message_chat_button {
	margin: 40% 0px 0px 35%;
	min-height:10%;
	width: 61%;
	border-radius: 30px 0px;
	background-color: rgb(255, 255, 255);
	position: fixed;
	z-index: 3;
	box-shadow: 0px 0px 10px   black;
	transition-duration: .5s;

}
.message_chat_button:hover {
	border-radius: 0px 30px;
}

.message_chat_button_input {
	height: 100%;
	width: 80%;
	margin: 0px 0px 0px 0px;
	text-indent: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.079);
	box-shadow: 5px  5px 10px rgba(0, 0, 0, 0.579);
	position: absolute;
	transition-duration: .5s;
	color: rgba(3, 3, 3, 0.791);
	border-radius: 30px 0px;
	border-style:none;
}
.message_chat_button_input:hover {
	height: 100%;
	width: 90%;
	box-shadow: 5px  5px 10px rgba(0, 0, 0, 0.592);
	background-color: rgba(6, 1, 26, 0.055);
	border-radius: 0px 30px;
	border-style:none;
	color: rgb(14, 12, 12);
}
.message_chat_button_input::placeholder {
	color: rgb(0, 0, 0);
	text-indent: 20px;
}
.message_chat_send {
	margin: 10px 0px 0px 91%;
	position: absolute;
	font-size: 30px;
	transition-duration: .5s;
}
.message_chat_send:hover {
	font-size: 31px;
	padding: 1px;
	border-radius: 20px 0px;
	box-shadow: 0px 10px 20px black;
}

